/* Google Font CDN for Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    --dark-color: #1F2937;
    --bright-color: #F9FAF8;
    --mid-color: #E5E7EB;
    --button-color: #3882F6;
}

.sticky-navbar {
    background: var(--dark-color);
    color: var(--bright-color);
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.header-logo {
    font-size: 24px;
}
.nav-link {
    color: var(--bright-color);
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    padding: 0 15px;
}

.container {
    display: flex;
    background: var(--dark-color);
    padding: 150px 200px;
}
.left {
    flex-basis: 45%;
}
.hero-title {
    color: var(--bright-color);
}
.hero-text {
    color: var(--mid-color);
    font-size: 18px;
    margin-top: 10px;
}
.sign-up {
    background: var(--button-color);
    color: var(--bright-color);
    padding: 8px 35px;
    border-radius: 15px;
    margin-top: 10px;
}
.img-placeholder {
    background: grey;
    color: var(--mid-color);
    padding: 100px 125px;
    margin-left: 80px;
}